@import "vars";
@import "libs";
@import "global";

.header {
    position: fixed;
    background-color: $gray;
    color: #fff;
    width: 100%;
    z-index: 100;

    &__inner {
        display: flex;
        padding: 20px 0 22px 50px;
        align-items: center;
    }

    &__info {
        cursor: pointer;
        margin-left: auto;
        margin-right: 10%;
        display: flex;
        align-items: center;
    }

    &__info-phone {
        width: 14px;
        height: 15px;
    }

    &__info-text {
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        margin: 0 15px 0 15px;
    }

    &__arrow {
        width: 13px;
        height: 10px;
        fill: #fff;
    }
}

.burger {
    &__icon {
        width: 30px;
        height: 25px;
        cursor: pointer;
    }
}

.sidebar.active {
    left: 0;
}

.sidebar {
    min-width: 220px;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: $gray;
    height: 100%;
    z-index: 100;
    color: #fff;
    transition: all .5s;

    &__inner {
        padding: 70px 0;
    }

    &-link {
        padding-left: 20px;
    }

    &__logo {
        margin-bottom: 75px;
        width: 147px;
        height: 40px;
        fill: #fff;
    }

    &__menu {
        margin-bottom: 50px;
    }

    &__menu-item {
        position: relative;
    }

    &__menu-item:nth-child(2) {
        .sidebar__menu-img {
            height: 9px;
        } 
    }

    &__menu-item:nth-child(2)::after,
    &__menu-item:nth-child(6)::after {
        content: '';
        position: absolute;
        top: 22px;
        right: 23px;
        background-image: url(../images/src/down-arrow.svg);
        transform: rotate(270deg);
        width: 14px;
        height: 11px;
        fill: #fff;
        background-repeat: no-repeat;
    }

    &__menu-link {
        width: 100%;
        display: flex;
        align-items: center;
        font-family: "Segoe UI";
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        padding: 20px;
        align-items: center;
        transition: all .3s linear;

        &:hover {
            background-color: $pink;
        }

        svg {
            margin-right: 15px;
        }
    }

    &__menu-img {
        width: 19px;
        height: 18px;
    }

    &__menu-video {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 20px;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
    }

    &__menu-icon {
        width: 25px;
        height: 25px;
        background-color: $pink;
        position: relative;
        border-radius: 50%;
        margin-right: 10px;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url(../images/src/triangle.svg);
            background-repeat: no-repeat;
            width: 8px;
            height: 9px;
            ;
        }
    }
}

.top__inner {
    display: flex;
    justify-content: space-between;
}

.titles {
    padding-top: 80px;
    max-width: 680px;

    .title-item:last-child p {
        margin-bottom: 0;
    }

    p {
        margin-bottom: 28px;
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
    }
}

.top__img {
    position: relative;
    padding: 57px 0 0;
    background-image: url(../images/src/top.png);
    background-position: center;
    background-repeat: no-repeat;
}

.top-links {
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    position: relative;
    margin-bottom: 10px;

    span::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -17px;
        width: 13px;
        height: 10px;
        transform: translateY(-50%);
        background-image: url('../images/src/top-arrow.svg');
    }
}

.top__link-first {
    margin-left: 20px;
    text-decoration: underline;
    margin-right: 20px;
}

.top__link-second {}

.top-title {
    color: #fff;
    text-transform: uppercase;
}

.top__img-inner {
    padding: 70px 0 75px;
    position: relative;
    padding-left: 17%;
}


.color {
    padding-top: 45px;

    .box {
        width: 80px;
        height: 80px;
    }

    .box+.box {
        margin-top: 6px;
    }

    &__box-1 {
        background-color: $pink;
    }

    &__box-2 {
        background-color: #e6eef8;
    }

    &__box-3 {
        background-color: #3b91e6;
    }

    &__box-4 {
        background-color: #ffffff;
        background-image: linear-gradient(to right, #3b91e6 0%, #9d44b5 100%);
    }

    &__box-5 {
        background-image: linear-gradient(to right, #b5446e 0%, #9d44b5 100%);
        opacity: .3;
    }

    &__box-6 {
        background-color: #343037;
        background-image: linear-gradient(to right, #b5446e 0%, #9d44b5 100%);
    }

    &__box-7 {
        background-color: #48444b;
    }
}


.lists {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
    }

    &__bullet,
    &__numbered {
        max-width: 440px;
    }

    .list__bull {}

    .list__bull-item {
        margin-bottom: 8px;
        position: relative;
        list-style: none;

        &::before {
            position: absolute;
            content: "";
            top: 3px;
            left: 0;
            background-image: url(../images/src/list-disc.svg);
            width: 20px;
            height: 20px;
        }

        p {
            padding-left: 29px;
        }
    }

    .list__num {
        counter-reset: custom;
    }

    .list__num-item {
        margin-bottom: 8px;
        position: relative;
        list-style: none;

        &::before {
            position: absolute;
            content: counter(custom)".";
            counter-increment: custom;
            top: 0;
            left: 0;
            color: $blue;
            font-size: 17px;
            font-weight: 700;
            line-height: 26px;
        }

        p {
            padding-left: 20px;
        }
    }
}

.links {
    &__inner {
        display: flex;
        align-items: center;
        padding: 70px 0;
    }

    .link__svg {
        width: 20px;
        height: 20px;
    }

    &__notvisited {
        color: $blue;
        display: inline-block;
        font-size: 17px;
        font-weight: 400;
        line-height: 62px;
        text-decoration: underline;
        margin-right: 55px;
    }

    &__visited {
        display: inline-block;
        color: #78b5f0;
        font-size: 17px;
        font-weight: 400;
        line-height: 62px;
        text-decoration: underline;
    }
}


.marks {
    &__inner {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &-1 {
        padding: 15px 37px 15px 26px;
        font-size: 22px;
        color: #ffffff;
        font-weight: 500;
        margin-bottom: 20px;
        background-color: #ffffff;
        background-image: linear-gradient(to right, #3b91e6 0%, white 100%);
    }

    &-2 {
        padding: 15px 37px 15px 26px;
        color: $gray;
        font-size: 22px;
        font-weight: 500;
        background-color: #ffffff;
        background-image: linear-gradient(to right, #b5446e 0%, white 100%);
        margin-bottom: 20px;
    }

    &-3 {
        padding: 13px 37px 11px 26px;
        margin-bottom: 20px;
        color: #ffffff;
        font-size: 22px;
        text-transform: uppercase;
        background-color: #fff;
        background-image: linear-gradient(to right, #3b91e6 0%, white 130%);
    }
}


.buttons {
    button+button {
        margin-top: 30px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 80px 0;
    }

    &-1 {
        color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        background-color: #dc107e;
        font-size: 18px;
        text-transform: uppercase;
        padding: 20px 70px;

        &:hover {
            background-color: #d92588;
        }
    }

    &-2 {
        border: 3px solid #dc107e;
        background-color: #ffffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        padding: 20px 68px;
        transition: all .2s;
        font-size: 18px;
        color: #dc107e;
        transition: all .2s;
        text-transform: uppercase;

        &:hover {
            background-color: #d92588;
            color: #fff;
        }
    }

    &-3 {
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        padding: 15px 25px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        background-color: #dc107e;
        transition: all .2s;

        &:hover {
            transform: translateY(1px);
            background-color: #d92588;
        }
    }

    &-4 {
        color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        background-color: #dc107e;
        font-size: 18px;
        text-transform: uppercase;
        padding: 17px 70px;
        border-radius: 25px;
        transition: all .2s;

        &:hover {
            background-color: #d92588;
        }
    }

    &-5 {
        border: 3px solid #dc107e;
        background-color: #ffffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        padding: 17px 68px;
        transition: all .2s;
        font-size: 18px;
        color: #dc107e;
        transition: all .2s;
        text-transform: uppercase;
        border-radius: 25px;

        &:hover {
            background-color: #d92588;
            color: #fff;
        }
    }

    &-6 {
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        padding: 15px 25px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        background-color: #dc107e;
        transition: all .2s;
        border-radius: 25px;

        &:hover {
            transform: translateY(1px);
            background-color: #d92588;
        }
    }
}

.input {
    padding: 0px 0 73px;

    &__item {
        display: flex;
    }

    &__item-group {
        display: block;
        margin-bottom: 15px;
    }

    &__item-group+.input__item-group {
        margin-left: 60px;
    }

    &__item-group .input__item-checkbox {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
    }

    &__item-group .input__checkbox-label {
        position: relative;
        cursor: pointer;
    }

    &__item-group .input__checkbox-label:before {
        content: '';
        -webkit-appearance: none;
        background-color: transparent;
        border: 2px solid $gray;
        padding: 10px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 13px;
    }

    &__item-group .input__item-checkbox:checked+.input__checkbox-label::after {
        content: '';
        display: block;
        position: absolute;
        top: 2.5px;
        left: 9px;
        width: 6px;
        height: 14px;
        border: solid $pink;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    /* radio */
    &__item-group .input__item-radio {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
    }

    &__item-group .input__radio-label {
        position: relative;
        cursor: pointer;
    }

    &__item-group .input__radio-label:before {
        content: '';
        -webkit-appearance: none;
        background-color: transparent;
        border: 2px solid $gray;
        border-radius: 50%;
        padding: 11px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 12px;
    }

    &__item-group .input__item-radio:checked+.input__radio-label::after {
        content: '';
        display: block;
        position: absolute;
        top: 6.5px;
        left: 6.7px;
        width: 12px;
        height: 12px;
        background-color: $pink;
        border-radius: 50%;
    }
}

.accordion {
    &__item {
        max-width: 980px;
        border: 1px solid rgba(212, 212, 212, 0.45);
        transition: all .3s
    }

    &__title {
        cursor: pointer;
        padding: 30px;
        font-size: 17px;
        color: $gray;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 40%;
            right: 3%;
            background-image: url('../images/src/accordion-arrow.svg');
            width: 21px;
            height: 12px;
            transition: all .3s;
        }

        &:hover {
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.14);
            border-left: 4px solid #dc107e;
        }
    }

    &__text {
        display: none;
        padding: 30px;
    }

    &__item.accordion__item--active .accordion__text {
        display: block;
    }

    &__item.accordion__item--active .accordion__title::after {
        transform: rotate(180deg);
    }

    &__item.accordion__item--active .accordion__title:hover {
        border: none;
        box-shadow: none;
    }
}

.slider {
    position: relative;
    max-width: 980px;

    .slick-arrow {
        position: relative;
        font-size: 0;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $blue;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;

        &::before {
            content: '';
            position: absolute;
            top: 13px;
            left: 13px;
            width: 10px;
            height: 10px;
        }
    }

    .slick-next {
        right: -40px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../images/src/slider-next.png);
    }

    .slick-prev {
        top: 50%;
        transform: translateY(-50%);
        left: -40px;
        background-image: url(../images/src/slider-prev.png);
    }

    .slick-dots {
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

        li {
            cursor: pointer;
            border: 1px solid $blue;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            margin: 0 10px;
        }
    }

    .slick-active {
        background-color: $blue;
    }

    &__item {
        max-width: 980px;
        max-height: 395px;
    }

    &__inner {
        padding: 50px 0;
    }

    .slick-arrow.slick-disabled {
        opacity: .5;
    }
}

.text {
    padding: 50px 0 42px;
    max-width: 714px;
    font-size: 17px;
    line-height: 26px;
}

.text__img {
    opacity: 0.5;
    color: $gray;
    font-size: 15px;
    line-height: 26px;
}

.questions {
    max-width: 1300px;
    margin: 130px auto 70px auto;
    position: relative;
    color: #fff;
    background-image: url(../images/src/questions.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;

    // &__wrapper::before{
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     z-index: 1;
    //     background-image: url(../images/src/questions-background.png);
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }
    &__inner {
        max-width: 655px;
        padding: 97px 0 137px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        z-index: 5;
    }

    &__title {
        font-size: 46px;
        font-weight: 400;
        max-width: 655px;
        line-height: 52px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &__number {
        display: inline-block;
        padding: 37px 40px 34px;
        border: 4px solid $pink;
        font-size: 45px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 20px;
        margin-bottom: 70px;

        span {
            color: $pink;
        }
    }

    .form__wrapper {
        min-width: 380px;
        display: inline-block;
    }

    &__form {
        position: relative;
        display: flex;
        max-width: 380px;
        flex-direction: column;

        .form-item {
            padding: 9px 40px 9px 15px;
            position: relative;
            margin-bottom: 20px;
            color: #212121;
            font-size: 17px;
            border: 1px solid #e6e6e6;

            &:focus {
                border: 1px solid #212121;
                outline: none;
            }
        }
    }

    .questions__button {
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        padding: 15px 25px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        background-color: #dc107e;
        transition: all .2s;
        display: inline-block;

        &:hover {
            transform: translateY(1px);
            background-color: #d92588;
        }
    }
}

.form__wrapper.questions__form-text::after {
    content: "";
    width: 16px;
    height: 17px;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    z-index: 1;
    background-image: url(../images/src/form-text.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    fill: #e6e6e6;

    &:focus {
        fill: #212121;
    }
}

.form__wrapper.questions__form-number::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    z-index: 1;
    background-image: url(../images/src/form-number.svg);
    fill: #e6e6e6;

    &:focus {
        fill: #212121;
    }
}

input.form__wrap.questions__form-email::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    z-index: 1;
    background-image: url(../images/src/form-email.svg);
    width: 10px;
    height: 10px;
    fill: black;

    &:focus {
        fill: #212121;
    }
}

.form__checkbox-label {
    font-size: 14px;
    line-height: 16px;
    position: relative;
}

.input__form-checkbox {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
}

.questions__item-group .form__checkbox-label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid white;
    width: 23px;
    height: 23px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 13px;
}

.questions__item-group .input__form-checkbox:checked+.form__checkbox-label::after {
    content: '';
    display: block;
    position: absolute;
    top: 3.8px;
    left: 10px;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.questions__form-paragraph {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 14px;
}

.form {
    max-width: 780px;
    background-color: #f3f3f3;
    margin: 0 auto;

    &__inner {
        padding: 50px 100px 150px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        text-transform: uppercase;
        font-size: 46px;
        max-width: 483px;
        margin: 0 auto 35px;
    }

    &__text {
        font-size: 22px;
        margin-bottom: 70px;
    }

    .form-second {
        display: flex;
        justify-content: space-between;
    }

    .form-left {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            position: relative;
            border: 1px solid rgba(33, 33, 33, 0.42);
            padding: 14px 40px 9px 15px;
            margin-bottom: 20px;
            opacity: .5;
            background-color: #fff;

            &:focus {
                opacity: 1;
            }
        }
    }

    .form-right textarea {
        width: 281px;
        height: 170px;
        border-radius: 1px;
        border: 1px solid #e6e6e6;
        background-color: #ffffff;
        padding: 15px;
        outline: none;
        opacity: .5;

        &:focus {
            opacity: 1;
        }
    }

    &-second__button {
        padding: 20px 45px 17px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        background-color: #dc107e;
        font-size: 18px;
        text-transform: uppercase;
        color: #ffffff;
        transition: all .3s;

        &:hover {
            background-color: #d92588;
        }
    }

    &-second__text {
        margin-bottom: 50px;
        text-align: left;
        color: #999999;
        font-size: 14px;

        span {
            color: $pink;
        }
    }

    &-second__input-text:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
        z-index: 1;
        background-image: url(../images/src/form-text.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &:focus {
            fill: #212121;
        }
    }
}


.select_wrap {
    max-width: 280px;
    margin: 15px auto;
    position: relative;
    user-select: none;

    .default-option {
        border-radius: 1px;
        border: 1px solid rgba(33, 33, 33, 0.42);
        background-color: #ffffff;
        position: relative;
        cursor: pointer;

        li {
            padding: 15px 35px 13px 15px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            top: 21px;
            right: 14px;
            border: 3px solid;
            border-color: transparent transparent #555555 #555555;
            transform: rotate(-47deg);
        }
    }

    .select-ul {
        display: none;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        border: 1px solid #e6e6e6;
        border-radius: 1px;
        background-color: #ffffff;

        li {
            padding: 15px 35px 13px 15px;
            cursor: pointer;

            &:hover {
                background-color: #f0f0f0;
            }
        }
    }

    &.active .default-option:before {
        top: 27px;
        transform: rotate(-225deg);
    }

    &.active .select-ul {
        display: block;
    }
}

.select {
    padding: 50px 0 300px;
}

.alerts {
    &__wrapper {

        display: flex;
        justify-content: space-between;
    }

    &__inner {
        padding: 40px 40px 27px;

        p {
            font-size: 17px;
            color: #343037;
        }
    }

    &__right {
        background-color: #e6eef8;
        max-width: 480px;
    }

    &__wrong {
        background-color: #f5e0e9;
        max-width: 480px;
    }
}

.tabs-wrapper {
    text-align: center;
    margin: 50px auto;
    font-size: 17px;
    color: $gray;

    .tab-item {
        padding: 19px 75px 12px;
        min-width: 260px;
        border-radius: 24px;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            background-color: $pink;
            color: #fff;
        }
    }

    .tabs_wrap {
        margin: 0 auto;
        max-width: 1111px;
        border-radius: 24px;
        display: flex;
        align-items: flex-start;
        border: 1px solid $pink;
    }

    .tab-ul {
        display: flex;
    }

    .hide-tab {
        display: none;
    }

    .tab-item.active {
        background-color: $pink;
        color: #fff;
    }

    .default-tab.active {
        background-color: $pink;
        color: #fff;
    }
}

.prompt {
    padding: 50px 0;

    &__inner {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
    }

    &__text {
        line-height: 23px;
        font-size: 17px;
        margin-bottom: 10px;

        span {
            cursor: pointer;
            border: 1px solid #dd1781;
            padding: 3px 8px 3px 8px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            font-size: 13px;
        }
    }

    &__hint {
        p {
            font-size: 13px;
            color: #212121;
            padding: 17px 30px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        }

    }
}

.table {
    &__inner {

        padding: 50px 0;

        .table1 {
            border-collapse: collapse;
            margin: 0 auto;
            border: 3px solid #dd1781;
            position: relative;

            td {
                border-right: 3px solid #e7e7e7;
            }

            td:last-child {
                border: none;
            }

            caption {
                text-align-last: left;
                margin-bottom: 12px;
                font-size: 17px;
                color: #343037;
                line-height: 22px;
            }

            thead {
                text-align-last: left;
                background-color: #dd1781;
                font-size: 17px;
                color: #fff;
                border: none;
            }

            tbody {
                color: #48444b;
                font-size: 17px;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    width: 100.4%;
                    height: 3px;
                    background-color: $pink;
                    z-index: 3;
                }
            }

            th:first-child,
            td:first-child {
                min-width: 530px;
                padding: 36px 20px;
            }

            td,
            th {
                padding: 35px 20px;
                min-width: 200px;
                border-right-color: #e7e7e7;
                border-collapse: collapse;
            }

            tr:nth-child(2) {
                background-color: #f0f0f0;
                border-color: $pink;
            }
        }
    }
}

.instagram {
    padding: 135px 120px;

    &__img {
        text-align: center;
        margin-bottom: 40px;
    }

    &__gallery {
        position: relative;
        margin: 20px 0;
        display: flex;
    }

    .iphone {
        position: absolute;
        top: 35%;
        right: 12%;
        transform: translateY(-50%);
    }
}

.footer {
    background-color: #343037;
    color: #fff;

    &__inner {
        align-items: center;
        padding: 40px 55px;
        display: flex;
        justify-content: space-between;
    }

    &__copy {
        max-width: 220px;

        &-text {}
    }

    &__social {
        display: flex;
        align-items: center;

        span {
            margin-right: 50px;
        }

        &-icons {
            display: flex;
            margin: 5px;

        }
    }
}